# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Data files
!data/.gitkeep  # Keeps the data/ folder in git but ignores contents

# CSV outputs
*.csv

# Environment files
.env
.venv/
venv/
env/
Pipfile.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest and coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json

# Virtual environment
*.egg-info/
dist/
build/
